<%- include('./partials/header') %>

<link
  rel="stylesheet"
  href="/css/home.css"
  type="text/css" media="screen" charset="utf-8">
  </head>

  <body>
    <header>
      <nav>
        <a class="nav-logo" href="/"><img src="images/chat icon.png"></img></a>
        <a class="nav-brand" href="/">Home</a>
        <a class="nav-brand2" href="/dashboard">Dashboard</a>
        <a class="nav-menu"><i class="fa fa-bars"></i></a>
      </nav>
    </header>

        <h1>Awesome Tweets</h1>

<%- include('./partials/footer') %>
